
<h5 class="card-header info-color white-text text-center py-4" style="color: #757575;" >
    <strong>Sign In </strong>
</h5>


<!-- Default form login -->
<form #itemForm="ngForm" class="text-center border border-light p-5" >

    
    <!-- Email -->
    <input type="number" id="defaultLoginFormEmail" name="mo" [(ngModel)]="mobile" class="form-control mb-4"  placeholder="Mobile number">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" name="pw" [(ngModel)]="password" class="form-control mb-4" placeholder="Password">

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" (click)="onSignIn()" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
        <a routerLink="/signup">Register</a>
    </p>

    
</form>
<!-- Default form login -->