
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Item</title>
  <meta charset="utf-8">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    

<div>
    <h5 class="card-header info-color white-text text-center py-4" style="color: #757575;" >
        <strong *ngIf="flag==false">Add Item </strong>
        <strong *ngIf="flag==true">Update Item </strong>
        <br>
    </h5>
  <form #itemForm="ngForm" style="color: #757575;" novalidate (ngSubmit)="onSubmit()" >
      <div class="form-group" >
          <br>
            <label class="control-label col-sm-2" for="nu">Number:</label>
            <div>
                <label *ngIf="flag==true" class="control-label col-sm-2" >{{item.itemNumber}}</label>
            </div>
            <div *ngIf="!flag" class="card">
                <input  type="number" name="nu" id="nu" [(ngModel)]="item.itemNumber" class="form-control" 
                 required #num="ngModel" [class.is-invalid]="num.invalid && num.touched" placeholder="Enter Item Number" >
                 <small *ngIf="!flag" class="text-danger" [class.d-none]="num.valid || num.untouched ">Number is required</small>
            </div>
            
        </div>
        <br>
    <div class="form-group">
      <label class="control-label col-sm-10" for="Name">Item Name:</label>
      <div >
        <input type="text" [(ngModel)]="item.name" class="form-control " id="Name" 
        required #nm="ngModel" [class.is-invalid]="nm.invalid && nm.touched"
        placeholder="Enter Item Name" name="Name" >
        <small class="text-danger" [class.d-none]="nm.valid || nm.untouched ">Name is required</small>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="qu">Quantity:</label>
      <div class="col-sm-10">          
        <input type="number" [(ngModel)]="item.quantity" class="form-control" id="qu" 
          required #qun="ngModel" [class.is-invalid]="qun.invalid && qun.touched"    
          placeholder="Enter Quantity" name="qu">
          <small class="flag : boolean=false;
          text-danger" [class.d-none]="qun.valid || qun.untouched ">Quantity is required</small>

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pr">Price:</label>
      <div class="col-sm-10">          
        <input type="number" [(ngModel)]="item.price" class="form-control" id="pr" 
          required #pc="ngModel" [class.is-invalid]="pc.invalid && pc.touched"      
          placeholder="Enter Price" name="pr">
          <small class="text-danger" [class.d-none]="pc.valid || pc.untouched ">Price is required</small>

      </div>
    </div>
    <div class="form-group">        
      
      <div *ngIf="flag==true" class="col-sm-offset-2 col-sm-10">
          <button  [disabled]="itemForm.invalid" class="btn btn-info my-4 btn-block" id="um" data-toggle="modal" (click)="updateItem()"  >Update</button>
      
          <!-- Model for update-->

     
  
    </div> 
    <div *ngIf="flag==false" class="col-sm-offset-2 col-sm-10">
            <button [disabled]="itemForm.invalid" type="submit" id="sm" data-toggle="modal"  class="btn btn-info my-4 btn-block"  >Submit</button>
     <!---->
            <!-- Model for submit-->
      </div>
    </div>
  </form>
</div>  
</body>
</html>


