
<!----
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode='list'">Home</a></li>
    <li [class.active]="viewMode == 'signIn'"><a (click)="viewMode='signIn'">Sign In</a></li>
    <li [class.active]="viewMode == 'signUp'"><a (click)="viewMode='signUp'">Sign Up</a></li>
</ul>

<div [ngSwitch]="viewMode">

    <div *ngSwitchCase="'list'"><item-list></item-list></div>
    <div *ngSwitchCase="'signIn'">Sign In</div>
    <div *ngSwitchCase="'signUp'">
        <sign-up></sign-up>
    </div>

</div>
-->

<nav class="nav nav-pills">
    <button class="btn btn-primary"  routerLink="/itemlist" routerLinkActive="active">Home </button>
    <button class="btn btn-primary"  routerLink="/myprofile" routerLinkActive="active">Profile </button>
    <button class="btn btn-primary"  routerLink="/signup" routerLinkActive="active"> Sign Up</button>
</nav>
<router-outlet></router-outlet>