
<!----
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode='list'">Home</a></li>
    <li [class.active]="viewMode == 'signIn'"><a (click)="viewMode='signIn'">Sign In</a></li>
    <li [class.active]="viewMode == 'signUp'"><a (click)="viewMode='signUp'">Sign Up</a></li>
</ul>

<div [ngSwitch]="viewMode">

    <div *ngSwitchCase="'list'"><item-list></item-list></div>
    <div *ngSwitchCase="'signIn'">Sign In</div>
    <div *ngSwitchCase="'signUp'">
        <sign-up></sign-up>
    </div>

</div>
-->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/itemlist" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signin" routerLinkActive="active">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
            </li>
            
          </ul>
        
    </nav>


<router-outlet></router-outlet>