<nav class="navbar">
        <label>Search:</label><input class="form-control" type="text" name="search" [(ngModel)]="filter">      
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </nav>
<table class="table table-hover">
    <thead>
      <tr>
        <th (click)="sort('Number')"scope="col">#
                <span class="glyphicon sort-icon" *ngIf="key =='Number'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th (click)="sort('Name')" scope="col">Name
                <span class="glyphicon sort-icon" *ngIf="key =='Name'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th (click)="sort('Price')" scope="col">Price
                <span class="glyphicon sort-icon" *ngIf="key =='Price'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th (click)="sort('Quantity')" scope="col">Quantity
                <span class="glyphicon sort-icon" *ngIf="key =='Quantity'" 
                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        
      </tr>
    </thead>
    <tbody>
        
        <tr  *ngFor="let item of this.items |orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 2, currentPage: p }; let i = index" 
        (click)="getItemDetail(item)">  
            <td >{{item.Number}}</td>
            <td >{{item.Name}}</td>  
            
            <td >{{item.Price}}</td>  
            
            <td >{{item.Quantity}} </td>
                <!--<button class="btn" (click)="incrementQuantityByOne($event); false"  >increment</button>
                <button class="btn" (click)="decrementQuantityByOne($event); false" >decrement</button>
                    -->
            
            <td>
                <button class="btn" (click)="updateItem($event,item); false" >Update</button>
            </td>
            <td>
                <button class="btn" (click)="deleteItem($event,item); false" >Delete</button>
            </td>
            
        </tr>  
    </tbody>
  </table>


  <br>
  <br>

  <button class="btn" routerLink="/additem" >
Add Item
  </button>
