<br>
<div class="container card">
<table class="table table-hover ">
  <thead class="thead-light">
    <th>Item Detail</th>
    <th></th>
  </thead>
  <tbody>
      <tr>  
        <td>Item Number </td>
          <td>{{this.item.itemNumber}}</td>  
      </tr>
      <tr>
          <td>Item Name </td>
        <td>{{item.name}}</td>  
      </tr>
      <tr>  
          <td>Item Price </td>  
        <td>{{item.price}}</td>  
      </tr>
      <tr>
          <td>Item Quantity </td>
          <td>{{item.quantity}} </td>
      </tr>
          
  </tbody>
</table>
</div>